In [1]:
# este codigo debería integrarse en el script "analizarCorrelacion.ipynb", que es el que leía el CSV(v2) y escribe el CSV(v3)
# además de analizar las posibles correlaciones, al final eliminaba columnas del dataframe que consideramos que no eran significativas
# antes de escribir el CSV(v3)

In [2]:
# Librerías
import pandas as pd
import numpy as np

In [3]:
# path = '/content/drive/MyDrive/datoscsv/'
# path local para probar:
path = 'datoscsv/'
#df = pd.read_csv(path + 'airWeather_2013-2019_v2.csv', sep=';', index_col='FECHA', parse_dates=['FECHA'])
df = pd.read_csv(path + 'Valencia_TODASEstaciones_CON_Meteo_1994_2022.csv', sep=';', index_col='FECHA', parse_dates=['FECHA'])

# Recuperar la fecha como campo
df.insert(0, 'FECHA', df.index.strftime('%Y-%m-%d'))
df

,FECHA,COD_ESTACION,NOM_ESTACION,SO2,CO,NO,NO2,NOx,O3,PM10,PM2.5,PM1,Precip.,Temp.,Veloc.,Veloc.max.
FECHA,,,,,,,,,,,,,,,,
2001-07-01,2001-07-01,46250002,CEMENTERIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-07-02,2001-07-02,46250002,CEMENTERIO,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-07-03,2001-07-03,46250002,CEMENTERIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-07-04,2001-07-04,46250002,CEMENTERIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-07-05,2001-07-05,46250002,CEMENTERIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008-10-27,2008-10-27,46250046,POLITÈCNIC,NaN,NaN,29.0,74.0,118.0,32.0,39.3,21.8,15.9,NaN,NaN,NaN,NaN
2008-10-28,2008-10-28,46250046,POLITÈCNIC,4.0,NaN,30.0,56.0,102.0,28.0,29.4,19.6,15.0,NaN,NaN,NaN,NaN
2008-10-29,2008-10-29,46250046,POLITÈCNIC,3.0,NaN,15.0,44.0,66.0,49.0,13.4,4.3,2.5,NaN,NaN,NaN,NaN
2008-10-30,2008-10-30,46250046,POLITÈCNIC,4.0,NaN,11.0,40.0,57.0,48.0,16.3,6.1,4.1,NaN,NaN,NaN,NaN
2008-10-31,2008-10-31,46250046,POLITÈCNIC,NaN,NaN,24.0,62.0,100.0,29.0,20.7,10.8,8.0,NaN,NaN,NaN,NaN

In [4]:
# % de datos faltantes
print ('Antes de interpolar')
df.isnull().sum()/len(df)*100

Antes de interpolar

FECHA            0.000000
COD_ESTACION     0.000000
NOM_ESTACION     0.000000
SO2             21.657884
CO              61.399069
NO              49.360406
NO2             49.456667
NOx             49.332619
O3              48.216182
PM10            75.387776
PM2.5           80.049024
PM1             88.897159
Precip.         75.471136
Temp.           68.957099
Veloc.          67.171792
Veloc.max.      75.481060
dtype: float64

In [5]:
# Interpolar valores faltantes en base a índice de fechas, siempre que el hueco no sea de más de 4 valores NaN

df = df.interpolate(method='time', limit=3, limit_direction='both', limit_area='inside')

In [6]:
# % de datos faltantes
print ('Después de interpolar')
df.isnull().sum()/len(df)*100

Después de interpolar

FECHA            0.000000
COD_ESTACION     0.000000
NOM_ESTACION     0.000000
SO2             12.364167
CO              55.263132
NO              43.076602
NO2             43.161948
NOx             43.046831
O3              42.902934
PM10            70.453621
PM2.5           76.931932
PM1             86.835968
Precip.         74.284240
Temp.           66.413608
Veloc.          64.497306
Veloc.max.      74.402334
dtype: float64

In [7]:
# Escribir csv depués de interpolar
df.to_csv(path + 'Valencia_TODASEstaciones_CON_Meteo_1994_2022_v3.csv', header=True, sep=';', index=False)

In [14]:
df66=df['COD_ESTACION'].unique()
df66

array([46250002, 46250005, 46250015, 46250018, 46250025, 46250026,
       46250028, 46250030, 46250031, 46250032, 46250033, 46250034,
       46250035, 46250036, 46250038, 46250039, 46250041, 46250043,
       46250046, 46250047, 46250048, 46250050, 46250049, 46250054,
       46250045, 46250051, 46250042])