In [106]:
# Librerias necesarias
 
import os
import pandas as pd

In [107]:
# Obtener lista de archivos CSV

import os
listaCsv = []
for fichero in os.listdir():
    if fichero.endswith(".csv"):
        listaCsv.append(fichero)
print(listaCsv)

['46250030PistaDeSilla.csv', '46250043Vivers.csv', '46250046Politecnic.csv', '46250047AvdFrancia.csv', '46250048MoliDelSol.csv', '46250049ConselleriaMeteo.csv', '46250050BulevardSud.csv', '46250054Centre.csv', '46250301PortMollPonent.csv', '46250302PortLlitAnticTuria.csv', '46250900Nazaret.csv']

In [108]:
# Juntar todos los csv en un dataframe único para analizar datos

# Crear dataframe vacio
df = pd.DataFrame()
# Crear una lista de columnas vacía
columnas = []

In [109]:
# Cargar todos los archivos csv de las distintas estaciones
for fichero in listaCsv:
    dfaux = pd.read_csv(fichero, sep=';', decimal='.')
    # Comprobar si hay nuevas columnas
    print(f'>>>>>>>>> {fichero} ', end =',') 
    for c in dfaux.columns:
        if c not in columnas:
            print(f' {c}', end= ',')
            columnas.append(c)
    print()
    df = pd.concat([df, dfaux])

>>>>>>>>> 46250030PistaDeSilla.csv , idEstacion, estacion, FECHA, SO2, PST, CO, NO, NO2, NOx, O3, Ruido, Veloc., Direc., Temp., H.Rel., Pres., R.Sol., Pb, PM10, Veloc.m?., PM2.5, PM1, C6H6, C8H10, C7H8, Tolueno, Benceno, Xileno, Unnamed: 12,
>>>>>>>>> 46250043Vivers.csv , Cd, As, BaP, Ni,
>>>>>>>>> 46250046Politecnic.csv , HCT, CH4, HNM,
>>>>>>>>> 46250047AvdFrancia.csv , Veloc.max.,
>>>>>>>>> 46250048MoliDelSol.csv ,
>>>>>>>>> 46250049ConselleriaMeteo.csv , Precip.,
>>>>>>>>> 46250050BulevardSud.csv , FA, DahA, IcdP, BkFA, BjFA, BbFA, BaA, NH3,
>>>>>>>>> 46250054Centre.csv ,
>>>>>>>>> 46250301PortMollPonent.csv ,
>>>>>>>>> 46250302PortLlitAnticTuria.csv ,
>>>>>>>>> 46250900Nazaret.csv ,

In [110]:
df

,idEstacion,estacion,FECHA,SO2,PST,CO,NO,NO2,NOx,O3,...,Veloc.max.,Precip.,FA,DahA,IcdP,BkFA,BjFA,BbFA,BaA,NH3
0,46250030,PistaDeSilla,1994-04-05,18.0,97.0,3.5,48.0,39.0,112.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46250030,PistaDeSilla,1994-04-06,9.0,79.0,2.6,23.0,34.0,69.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46250030,PistaDeSilla,1994-04-07,10.0,NaN,2.5,21.0,32.0,64.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46250030,PistaDeSilla,1994-04-08,NaN,102.0,2.1,14.0,27.0,49.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46250030,PistaDeSilla,1994-04-09,9.0,108.0,2.1,16.0,28.0,52.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,46250900,Nazaret,2022-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
798,46250900,Nazaret,2022-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,46250900,Nazaret,2022-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800,46250900,Nazaret,2022-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.3,5.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,46250900,Nazaret,2022-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.1,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
df.isnull().sum()/len(df)*100

idEstacion       0.000000
estacion         0.000000
FECHA            0.000000
SO2             19.110827
PST             85.346867
CO              47.525080
NO              17.729037
NO2             17.731403
NOx             17.750331
O3              17.785822
Ruido           66.333049
Veloc.          60.202536
Direc.          60.311376
Temp.           71.550256
H.Rel.          72.359455
Pres.           72.347624
R.Sol.          72.066061
Pb              88.119913
PM10            37.424285
Veloc.m?.       99.160042
PM2.5           49.029907
PM1             73.864282
C6H6            91.004164
C8H10           90.999432
C7H8            91.053852
Tolueno         99.242854
Benceno         98.646602
Xileno          98.592182
Unnamed: 12    100.000000
Cd              92.324437
As              92.381223
BaP             99.259417
Ni              92.314973
HCT             99.791785
CH4             99.791785
HNM             99.791785
Veloc.max.      87.670358
Precip.         88.389646
FA              99.434507
DahA            99.432141
IcdP            99.425043
BkFA            99.425043
BjFA            99.425043
BbFA            99.425043
BaA             99.429775
NH3             94.529623
dtype: float64

In [112]:
for c in df.columns:
    porcentaje = df[c].isnull().sum()/len(df)*100
    if porcentaje >= 80.0 and c != 'Precip.':
        print(f'Se va a eliminar: {c} {porcentaje}')
        df = df.drop([c], axis=1 )

Se va a eliminar: PST 85.3468673102404
Se va a eliminar: Pb 88.11991292826046
Se va a eliminar: Veloc.m?. 99.16004164300587
Se va a eliminar: C6H6 91.0041643005868
Se va a eliminar: C8H10 90.99943214082907
Se va a eliminar: C7H8 91.05385197804277
Se va a eliminar: Tolueno 99.24285443876585
Se va a eliminar: Benceno 98.64660230929397
Se va a eliminar: Xileno 98.59218247208025
Se va a eliminar: Unnamed: 12 100.0
Se va a eliminar: Cd 92.32443687298884
Se va a eliminar: As 92.3812227900814
Se va a eliminar: BaP 99.25941699791785
Se va a eliminar: Ni 92.31497255347341
Se va a eliminar: HCT 99.79178497066061
Se va a eliminar: CH4 99.79178497066061
Se va a eliminar: HNM 99.79178497066061
Se va a eliminar: Veloc.max. 87.67035775127768
Se va a eliminar: FA 99.43450690895325
Se va a eliminar: DahA 99.43214082907438
Se va a eliminar: IcdP 99.42504258943782
Se va a eliminar: BkFA 99.42504258943782
Se va a eliminar: BjFA 99.42504258943782
Se va a eliminar: BbFA 99.42504258943782
Se va a eliminar: BaA 99.42977474919553
Se va a eliminar: NH3 94.52962332008329

In [113]:
df.head(20)

,idEstacion,estacion,FECHA,SO2,CO,NO,NO2,NOx,O3,Ruido,Veloc.,Direc.,Temp.,H.Rel.,Pres.,R.Sol.,PM10,PM2.5,PM1,Precip.
0,46250030,PistaDeSilla,1994-04-05,18.0,3.5,48.0,39.0,112.0,24.0,67.0,0.4,103.0,23.9,NaN,857.0,278.0,NaN,NaN,NaN,NaN
1,46250030,PistaDeSilla,1994-04-06,9.0,2.6,23.0,34.0,69.0,36.0,65.0,1.0,153.0,24.8,NaN,857.0,282.0,NaN,NaN,NaN,NaN
2,46250030,PistaDeSilla,1994-04-07,10.0,2.5,21.0,32.0,64.0,34.0,65.0,0.9,144.0,26.8,NaN,854.0,295.0,NaN,NaN,NaN,NaN
3,46250030,PistaDeSilla,1994-04-08,NaN,2.1,14.0,27.0,49.0,50.0,66.0,1.0,148.0,24.3,NaN,856.0,298.0,NaN,NaN,NaN,NaN
4,46250030,PistaDeSilla,1994-04-09,9.0,2.1,16.0,28.0,52.0,44.0,65.0,1.3,142.0,24.9,NaN,854.0,239.0,NaN,NaN,NaN,NaN
5,46250030,PistaDeSilla,1994-04-10,5.0,2.0,12.0,23.0,42.0,42.0,64.0,0.9,130.0,24.1,NaN,852.0,240.0,NaN,NaN,NaN,NaN
6,46250030,PistaDeSilla,1994-04-11,3.0,1.8,9.0,17.0,30.0,70.0,64.0,1.4,142.0,23.3,NaN,853.0,301.0,NaN,NaN,NaN,NaN
7,46250030,PistaDeSilla,1994-04-12,11.0,2.5,19.0,32.0,61.0,52.0,66.0,0.8,125.0,23.3,NaN,856.0,293.0,NaN,NaN,NaN,NaN
8,46250030,PistaDeSilla,1994-04-13,21.0,2.7,23.0,37.0,72.0,45.0,65.0,0.5,99.0,23.0,NaN,855.0,287.0,NaN,NaN,NaN,NaN
9,46250030,PistaDeSilla,1994-04-14,10.0,2.4,18.0,30.0,58.0,49.0,65.0,0.7,34.0,22.9,NaN,854.0,280.0,NaN,NaN,NaN,NaN
10,46250030,PistaDeSilla,1994-04-15,NaN,2.4,15.0,28.0,51.0,34.0,66.0,1.4,23.0,20.3,NaN,854.0,128.0,NaN,NaN,NaN,NaN
11,46250030,PistaDeSilla,1994-04-16,NaN,2.5,13.0,27.0,46.0,30.0,66.0,0.9,169.0,18.4,NaN,854.0,131.0,NaN,NaN,NaN,NaN
12,46250030,PistaDeSilla,1994-04-17,6.0,2.3,13.0,26.0,45.0,45.0,65.0,0.9,164.0,21.6,NaN,853.0,312.0,NaN,NaN,NaN,NaN
13,46250030,PistaDeSilla,1994-04-18,13.0,3.0,25.0,37.0,75.0,38.0,66.0,0.4,118.0,22.4,NaN,852.0,307.0,NaN,NaN,NaN,NaN
14,46250030,PistaDeSilla,1994-04-19,NaN,2.7,15.0,30.0,53.0,37.0,66.0,1.1,44.0,21.6,NaN,851.0,140.0,NaN,NaN,NaN,NaN
15,46250030,PistaDeSilla,1994-04-20,13.0,3.0,26.0,35.0,75.0,34.0,66.0,0.3,107.0,21.8,NaN,934.0,250.0,NaN,NaN,NaN,NaN
16,46250030,PistaDeSilla,1994-04-21,15.0,3.4,34.0,40.0,92.0,20.0,66.0,0.4,117.0,23.6,NaN,1007.0,244.0,NaN,NaN,NaN,NaN
17,46250030,PistaDeSilla,1994-04-22,13.0,3.5,35.0,38.0,91.0,27.0,66.0,0.3,103.0,24.6,NaN,1005.0,326.0,NaN,NaN,NaN,NaN
18,46250030,PistaDeSilla,1994-04-23,10.0,2.8,18.0,27.0,54.0,32.0,65.0,0.9,144.0,25.8,NaN,1004.0,325.0,NaN,NaN,NaN,NaN
19,46250030,PistaDeSilla,1994-04-24,7.0,2.0,10.0,18.0,33.0,46.0,65.0,2.0,163.0,25.7,NaN,1003.0,298.0,NaN,NaN,NaN,NaN

In [114]:
df.isnull().sum()/len(df)*100

idEstacion     0.000000
estacion       0.000000
FECHA          0.000000
SO2           19.110827
CO            47.525080
NO            17.729037
NO2           17.731403
NOx           17.750331
O3            17.785822
Ruido         66.333049
Veloc.        60.202536
Direc.        60.311376
Temp.         71.550256
H.Rel.        72.359455
Pres.         72.347624
R.Sol.        72.066061
PM10          37.424285
PM2.5         49.029907
PM1           73.864282
Precip.       88.389646
dtype: float64

In [115]:

df2 = df[df['FECHA']>='2013/01/01']

In [116]:
df2

,idEstacion,estacion,FECHA,SO2,CO,NO,NO2,NOx,O3,Ruido,Veloc.,Direc.,Temp.,H.Rel.,Pres.,R.Sol.,PM10,PM2.5,PM1,Precip.
6894,46250030,PistaDeSilla,2014-01-01,3.0,0.1,7.0,22.0,33.0,47.0,58.0,1.2,257.0,15.2,54.0,1019.0,84.0,11.0,5.0,3.0,NaN
6895,46250030,PistaDeSilla,2014-01-02,2.0,0.2,16.0,35.0,59.0,37.0,59.0,1.3,262.0,16.6,61.0,1017.0,16.0,11.0,5.0,3.0,NaN
6896,46250030,PistaDeSilla,2014-01-03,2.0,0.2,37.0,52.0,108.0,24.0,60.0,0.9,248.0,18.0,61.0,1019.0,19.0,11.0,6.0,3.0,NaN
6897,46250030,PistaDeSilla,2014-01-04,1.0,0.1,7.0,20.0,30.0,52.0,60.0,2.0,257.0,16.1,54.0,1016.0,80.0,12.0,5.0,2.0,NaN
6898,46250030,PistaDeSilla,2014-01-05,1.0,0.3,6.0,18.0,28.0,55.0,60.0,2.1,271.0,12.3,53.0,1022.0,86.0,10.0,5.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,46250900,Nazaret,2022-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.9,12.0,15.2,69.0,1020.0,208.0,NaN,NaN,NaN,0.0
798,46250900,Nazaret,2022-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5,356.0,14.2,79.0,1018.0,190.0,NaN,NaN,NaN,0.0
799,46250900,Nazaret,2022-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8,340.0,14.3,81.0,1006.0,161.0,NaN,NaN,NaN,0.0
800,46250900,Nazaret,2022-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,206.0,14.7,83.0,999.0,101.0,NaN,NaN,NaN,5.6
801,46250900,Nazaret,2022-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.8,284.0,16.3,53.0,999.0,233.0,NaN,NaN,NaN,2.7

In [117]:
# Ver estaciones disponibles y datos disponibles por cada una
df['estacion'].value_counts()

PistaDeSilla          9873
Vivers                7318
Politecnic            5026
AvdFrancia            4792
MoliDelSol            4578
BulevardSud           4281
ConselleriaMeteo      3466
Centre                1257
Nazaret                802
PortMollPonent         611
PortLlitAnticTuria     260
Name: estacion, dtype: int64

In [118]:
# Comprobar rango de fechas disponible para cada estación y registros disponibles
# df['FECHA'] = pd.to_datetime(df['FECHA'], format="%d/%m/%Y")

print(f'{"estacion":=^20} {"Desde":=^10} {"Hasta":=^10} {"Nº reg":=^8}')
for esta in df['estacion'].unique():
  print(f'{esta:20} {str(df[df["estacion"]==esta]["FECHA"].min())[0:10]} {str(df[df["estacion"]==esta]["FECHA"].max())[0:10]} {df[df["estacion"]==esta]["estacion"].count():8}')

======estacion====== ==Desde=== ==Hasta=== =Nº reg=
PistaDeSilla         1994-04-05 2022-03-31     9873
Vivers               2002-02-11 2022-03-31     7318
Politecnic           2008-04-05 2022-03-31     5026
AvdFrancia           01/01/2009 31/12/2021     4792
MoliDelSol           2009-08-07 2022-03-31     4578
ConselleriaMeteo     2012-06-01 2022-03-31     3466
BulevardSud          2010-05-29 2022-03-31     4281
Centre               2018-10-16 2022-03-31     1257
PortMollPonent       2020-07-25 2022-03-31      611
PortLlitAnticTuria   2021-07-15 2022-03-31      260
Nazaret              2020-01-01 2022-03-31      802

In [119]:
print(f'Datos nulos:')
print(f'{"estacion":=^20} {"Nº reg":=^8} {"PM2.5":=^8} {"PM10":=^8} {"O3":=^8} {"NO2":=^8} {"SO2":=^8} {"CO":=^8}')
for esta in df['estacion'].unique():
  print(f'{esta:20} {df[df["estacion"]==esta]["estacion"].count():8} {df[df["estacion"]==esta]["PM2.5"].isnull().sum():8}\
 {df[df["estacion"]==esta]["PM10"].isnull().sum():8} {df[df["estacion"]==esta]["O3"].isnull().sum():8}\
 {df[df["estacion"]==esta]["NO2"].isnull().sum():8} {df[df["estacion"]==esta]["SO2"].isnull().sum():8}\
 {df[df["estacion"]==esta]["CO"].isnull().sum():8}')

Datos nulos:
======estacion====== =Nº reg= =PM2.5== ==PM10== ===O3=== ==NO2=== ==SO2=== ===CO===
PistaDeSilla             9873     6590     5612      785      574      818      805
Vivers                   7318     3189     1749      561     1003      475     3695
Politecnic               5026      182      182      194      301      317     5026
AvdFrancia               4792     1593     1593      116      438      362      392
MoliDelSol               4578      476      474       69      371      170      764
ConselleriaMeteo         3466     3466     3466     3466     3466     3466     3466
BulevardSud              4281     4281     1776      176      460      372     3775
Centre                   1257       61       61     1257       46     1257     1257
PortMollPonent            611       82      102       85       28       29       51
PortLlitAnticTuria        260        0        0        6        5        9       53
Nazaret                   802      802      802      802      802      802      802