In [51]:
import pandas as pd
import numpy as np
import os
import glob

In [52]:
#Nombre del directorio de datos
PATH = "datoscsv/"
pathname = os.path.join(PATH)
print(pathname)

datoscsv/

In [53]:
maindf = pd.read_csv(pathname + "SoloVLC_Principales.csv",sep=";",decimal=".")

/tmp/ipykernel_25370/1832269987.py:1: DtypeWarning: Columns (9,11,13,14,15,21,25,33,36,38) have mixed types. Specify dtype option on import or set low_memory=False.
  maindf = pd.read_csv(pathname + "SoloVLC_Principales.csv",sep=";",decimal=".")

In [54]:
maindf

,COD_ESTACION,NOM_ESTACION,FECHA,SO2,CO,NO,NO2,NOx,O3,PM10,...,DahA,FA,HCT,HMN,HNM,H2S,IcdP,Ni,Pb,PST
0,46250043,VALÈNCIA - VIVERS,2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46250043,VALÈNCIA - VIVERS,2002-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46250043,VALÈNCIA - VIVERS,2002-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46250043,VALÈNCIA - VIVERS,2002-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46250043,VALÈNCIA - VIVERS,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22270,46250048,VALÈNCIA - MOLÍ DEL SOL,2022-03-30,7.0,"0,1",7.0,23.0,33.0,60.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22271,46250043,VALÈNCIA - VIVERS,2022-03-31,4.0,NaN,3.0,16.0,21.0,61.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22272,46250046,VALÈNCIA - POLITÈCNIC,2022-03-31,3.0,NaN,3.0,14.0,17.0,63.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22273,46250047,VALÈNCIA - AVD. FRANCIA,2022-03-31,4.0,"0,1",2.0,9.0,12.0,60.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22274,46250048,VALÈNCIA - MOLÍ DEL SOL,2022-03-31,5.0,"0,1",3.0,14.0,19.0,67.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
maindf.isnull().sum()

COD_ESTACION        0
NOM_ESTACION        0
FECHA               0
SO2              1897
CO              10444
NO               2675
NO2              2684
NOx              2691
O3               1515
PM10             5181
PM2.5            6415
PM1             12929
NH3             22245
C6H6            20055
C7H8            20346
C8H10           20054
Direc.          17519
H.Rel.          22246
Precip.         22275
Pres.           22275
R.Sol.          22275
Ruido           17457
Temp.           22275
UVB             22275
Veloc.          17540
Veloc.max.      21895
As              20402
BaA             22263
BaP             22205
BbFA            22275
BjFA            22275
BkFA            22275
Cd              20423
CH4             22175
DahA            22263
FA              22275
HCT             22187
HMN             22275
HNM             22187
H2S             22275
IcdP            22275
Ni              20421
Pb              19955
PST             20944
dtype: int64

In [56]:
maindf.isnull().sum()/len(maindf)*100

COD_ESTACION      0.000000
NOM_ESTACION      0.000000
FECHA             0.000000
SO2               8.516274
CO               46.886644
NO               12.008979
NO2              12.049383
NOx              12.080808
O3                6.801347
PM10             23.259259
PM2.5            28.799102
PM1              58.042649
NH3              99.865320
C6H6             90.033670
C7H8             91.340067
C8H10            90.029181
Direc.           78.648709
H.Rel.           99.869809
Precip.         100.000000
Pres.           100.000000
R.Sol.          100.000000
Ruido            78.370370
Temp.           100.000000
UVB             100.000000
Veloc.           78.742985
Veloc.max.       98.294052
As               91.591470
BaA              99.946128
BaP              99.685746
BbFA            100.000000
BjFA            100.000000
BkFA            100.000000
Cd               91.685746
CH4              99.551066
DahA             99.946128
FA              100.000000
HCT              99.604938
HMN             100.000000
HNM              99.604938
H2S             100.000000
IcdP            100.000000
Ni               91.676768
Pb               89.584736
PST              94.024691
dtype: float64

In [57]:
maindf.columns

Index(['COD_ESTACION', 'NOM_ESTACION', 'FECHA', 'SO2', 'CO', 'NO', 'NO2',
       'NOx', 'O3', 'PM10', 'PM2.5', 'PM1', 'NH3', 'C6H6', 'C7H8', 'C8H10',
       'Direc.', 'H.Rel.', 'Precip.', 'Pres.', 'R.Sol.', 'Ruido', 'Temp.',
       'UVB', 'Veloc.', 'Veloc.max.', 'As', 'BaA', 'BaP', 'BbFA', 'BjFA',
       'BkFA', 'Cd', 'CH4', 'DahA', 'FA', 'HCT', 'HMN', 'HNM', 'H2S', 'IcdP',
       'Ni', 'Pb', 'PST'],
      dtype='object')

In [58]:
maindf.drop([ 'Pb','Ni','IcdP','UVB','NH3','R.Sol.','Pres.','C8H10','H.Rel.'] , axis=1, inplace= True)
maindf.drop([ 'HMN', 'HNM','C6H6','C7H8','As', 'Cd','H2S','HCT','HMN', 'FA', 'DahA', 'CH4', 'BaA'] , axis=1, inplace= True)
maindf.drop([ 'BkFA', 'BjFA', 'BbFA', 'BaP','PST'] , axis=1, inplace= True)

In [59]:
maindf.isnull().sum()/len(maindf)*100

COD_ESTACION      0.000000
NOM_ESTACION      0.000000
FECHA             0.000000
SO2               8.516274
CO               46.886644
NO               12.008979
NO2              12.049383
NOx              12.080808
O3                6.801347
PM10             23.259259
PM2.5            28.799102
PM1              58.042649
Direc.           78.648709
Precip.         100.000000
Ruido            78.370370
Temp.           100.000000
Veloc.           78.742985
Veloc.max.       98.294052
dtype: float64

In [60]:
maindf.columns

Index(['COD_ESTACION', 'NOM_ESTACION', 'FECHA', 'SO2', 'CO', 'NO', 'NO2',
       'NOx', 'O3', 'PM10', 'PM2.5', 'PM1', 'Direc.', 'Precip.', 'Ruido',
       'Temp.', 'Veloc.', 'Veloc.max.'],
      dtype='object')

In [61]:
maindf['COD_ESTACION'] = maindf['COD_ESTACION'].astype(str)
maindf['NOM_ESTACION'] = maindf['NOM_ESTACION'].astype(str)
# Convertir la fecha a formato datetime
#maindf['FECHA'] = pd.to_datetime(maindf['FECHA'], format="%d-%m-%Y")
maindf['FECHA'] = pd.to_datetime(maindf['FECHA'], format="%Y-%m-%d")

In [62]:
maindf.head()

,COD_ESTACION,NOM_ESTACION,FECHA,SO2,CO,NO,NO2,NOx,O3,PM10,PM2.5,PM1,Direc.,Precip.,Ruido,Temp.,Veloc.,Veloc.max.
0,46250043,VALÈNCIA - VIVERS,2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46250043,VALÈNCIA - VIVERS,2002-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46250043,VALÈNCIA - VIVERS,2002-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46250043,VALÈNCIA - VIVERS,2002-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46250043,VALÈNCIA - VIVERS,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
maindf.tail()

,COD_ESTACION,NOM_ESTACION,FECHA,SO2,CO,NO,NO2,NOx,O3,PM10,PM2.5,PM1,Direc.,Precip.,Ruido,Temp.,Veloc.,Veloc.max.
22270,46250048,VALÈNCIA - MOLÍ DEL SOL,2022-03-30,7.0,"0,1",7.0,23.0,33.0,60.0,24.0,18,13.0,NaN,NaN,NaN,NaN,NaN,NaN
22271,46250043,VALÈNCIA - VIVERS,2022-03-31,4.0,NaN,3.0,16.0,21.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22272,46250046,VALÈNCIA - POLITÈCNIC,2022-03-31,3.0,NaN,3.0,14.0,17.0,63.0,9.0,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22273,46250047,VALÈNCIA - AVD. FRANCIA,2022-03-31,4.0,"0,1",2.0,9.0,12.0,60.0,13.0,5,NaN,294.0,NaN,NaN,NaN,"1,1",NaN
22274,46250048,VALÈNCIA - MOLÍ DEL SOL,2022-03-31,5.0,"0,1",3.0,14.0,19.0,67.0,8.0,6,4.0,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
columnas = maindf.columns.to_list()
borra1 = "COD_ESTACION"
borra2 = 'NOM_ESTACION'
borra3 = 'FECHA'
columnas = list(filter((borra1).__ne__,columnas))
columnas = list(filter((borra2).__ne__,columnas))
columnas = list(filter((borra3).__ne__,columnas))

In [65]:
for col in columnas:
    maindf[col] = maindf[col].replace(',','.', regex=True)
    maindf[col] = maindf[col].apply(pd.to_numeric)

In [66]:
maindf

,COD_ESTACION,NOM_ESTACION,FECHA,SO2,CO,NO,NO2,NOx,O3,PM10,PM2.5,PM1,Direc.,Precip.,Ruido,Temp.,Veloc.,Veloc.max.
0,46250043,VALÈNCIA - VIVERS,2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46250043,VALÈNCIA - VIVERS,2002-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46250043,VALÈNCIA - VIVERS,2002-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46250043,VALÈNCIA - VIVERS,2002-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46250043,VALÈNCIA - VIVERS,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22270,46250048,VALÈNCIA - MOLÍ DEL SOL,2022-03-30,7.0,0.1,7.0,23.0,33.0,60.0,24.0,18.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
22271,46250043,VALÈNCIA - VIVERS,2022-03-31,4.0,NaN,3.0,16.0,21.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22272,46250046,VALÈNCIA - POLITÈCNIC,2022-03-31,3.0,NaN,3.0,14.0,17.0,63.0,9.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22273,46250047,VALÈNCIA - AVD. FRANCIA,2022-03-31,4.0,0.1,2.0,9.0,12.0,60.0,13.0,5.0,NaN,294.0,NaN,NaN,NaN,1.1,NaN
22274,46250048,VALÈNCIA - MOLÍ DEL SOL,2022-03-31,5.0,0.1,3.0,14.0,19.0,67.0,8.0,6.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
maindf.shape

(22275, 18)

In [68]:
maindf.dtypes

COD_ESTACION            object
NOM_ESTACION            object
FECHA           datetime64[ns]
SO2                    float64
CO                     float64
NO                     float64
NO2                    float64
NOx                    float64
O3                     float64
PM10                   float64
PM2.5                  float64
PM1                    float64
Direc.                 float64
Precip.                float64
Ruido                  float64
Temp.                  float64
Veloc.                 float64
Veloc.max.             float64
dtype: object

In [69]:
maindf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22275 entries, 0 to 22274
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   COD_ESTACION  22275 non-null  object
 1   NOM_ESTACION  22275 non-null  object
 2   FECHA         22275 non-null  datetime64[ns]
 3   SO2           20378 non-null  float64
 4   CO            11831 non-null  float64
 5   NO            19600 non-null  float64
 6   NO2           19591 non-null  float64
 7   NOx           19584 non-null  float64
 8   O3            20760 non-null  float64
 9   PM10          17094 non-null  float64
 10  PM2.5         15860 non-null  float64
 11  PM1           9346 non-null   float64
 12  Direc.        4756 non-null   float64
 13  Precip.       0 non-null      float64
 14  Ruido         4818 non-null   float64
 15  Temp.         0 non-null      float64
 16  Veloc.        4735 non-null   float64
 17  Veloc.max.    380 non-null    float64
dtypes: datetime64[ns](1), float64(15), object(2)
memory usage: 3.1+ MB

In [70]:
maindf.describe()

,SO2,CO,NO,NO2,NOx,O3,PM10,PM2.5,PM1,Direc.,Precip.,Ruido,Temp.,Veloc.,Veloc.max.
count,20378.000000,11831.000000,19600.000000,19591.000000,19584.000000,20760.000000,17094.000000,15860.000000,9346.000000,4756.000000,0.0,4818.000000,0.0,4735.000000,380.000000
mean,3.410835,0.216660,10.013724,25.455005,40.482537,49.849422,19.958325,12.895839,9.366178,151.990959,NaN,59.174257,NaN,1.395797,3.453684
std,1.484382,0.168572,12.924602,15.499135,33.067100,19.486586,11.642638,8.219499,6.841221,96.797733,NaN,5.405109,NaN,0.843498,2.087786
min,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,0.200000,0.000000
25%,3.000000,0.100000,3.000000,14.000000,18.000000,36.000000,12.000000,7.000000,5.000000,64.000000,NaN,56.000000,NaN,0.900000,2.100000
50%,3.000000,0.200000,5.000000,22.000000,31.000000,52.000000,18.000000,11.000000,8.000000,121.000000,NaN,60.000000,NaN,1.300000,3.300000
75%,4.000000,0.300000,12.000000,34.000000,52.000000,64.000000,26.000000,17.000000,12.000000,241.000000,NaN,63.000000,NaN,1.700000,4.500000
max,21.000000,1.700000,189.000000,110.000000,376.000000,152.000000,209.000000,88.000000,71.000000,360.000000,NaN,75.000000,NaN,10.900000,15.600000

In [71]:
maindf.to_csv('datoscsv/SoloVLC_Principales_v1.csv', header=True, sep=';', index=False)