In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('datos.csv', delimiter=';', index_col='FECHA')

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, 01/05/2022 to 31/05/2022
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   idEstacion  62 non-null     int64
 1   Temp.       44 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.5+ KB

In [6]:
df.interpolate(method ='linear', limit_direction ='both', inplace=True)

df.head(60)

            idEstacion      Temp.
FECHA
01/05/2022    46250080  16.000000
02/05/2022    46250080  24.000000
03/05/2022    46250080  27.000000
04/05/2022    46250080  20.000000
05/05/2022    46250080  24.000000
06/05/2022    46250080  28.000000
07/05/2022    46250080  15.000000
08/05/2022    46250080  20.000000
09/05/2022    46250080  25.000000
10/05/2022    46250080  30.000000
11/05/2022    46250080  30.000000
12/05/2022    46250080  25.000000
13/05/2022    46250080  25.000000
14/05/2022    46250080  27.000000
15/05/2022    46250080  24.000000
16/05/2022    46250080  21.000000
17/05/2022    46250080  28.000000
18/05/2022    46250080  28.000000
19/05/2022    46250080  26.000000
20/05/2022    46250080  24.000000
21/05/2022    46250080  26.000000
22/05/2022    46250080  29.000000
23/05/2022    46250080  18.000000
24/05/2022    46250080  22.000000
25/05/2022    46250080  30.000000
26/05/2022    46250080  28.500000
27/05/2022    46250080  27.000000
28/05/2022    46250080  17.000000
29/05/2022    46250080  18.000000
30/05/2022    46250080  21.000000
31/05/2022    46250080  28.000000
01/05/2022    46250099  27.375000
02/05/2022    46250099  26.750000
03/05/2022    46250099  26.125000
04/05/2022    46250099  25.500000
05/05/2022    46250099  24.875000
06/05/2022    46250099  24.250000
07/05/2022    46250099  23.625000
08/05/2022    46250099  23.000000
09/05/2022    46250099  29.000000
10/05/2022    46250099  21.000000
11/05/2022    46250099  28.000000
12/05/2022    46250099  17.000000
13/05/2022    46250099  16.000000
14/05/2022    46250099  25.000000
15/05/2022    46250099  17.000000
16/05/2022    46250099  30.000000
17/05/2022    46250099  25.000000
18/05/2022    46250099  23.000000
19/05/2022    46250099  19.000000
20/05/2022    46250099  17.000000
21/05/2022    46250099  18.666667
22/05/2022    46250099  20.333333
23/05/2022    46250099  22.000000
24/05/2022    46250099  23.666667
25/05/2022    46250099  25.333333
26/05/2022    46250099  27.000000
27/05/2022    46250099  22.000000
28/05/2022    46250099  30.000000
29/05/2022    46250099  24.000000