In [5]:
import pandas as pd

In [6]:
# cargar dataframes

df = pd.read_csv('datos.csv', delimiter=';')
temperaturas = pd.read_csv('temperatura.csv', delimiter=';')

print('Valores nulos:')
df.isnull().sum()

Valores nulos:

idEstacion     0
FECHA          0
Temp.         18
dtype: int64

In [7]:
# añadir columna 'TEMP' en df con las temperaturas del segundo dataFrame segun la fecha
df = pd.merge(left=df, right=temperaturas, how='left', left_on='FECHA', right_on='FECHA')

# actualizar columna 'Temp.' con 'TEMP' cuando el campo 'Temp.' no tenga valor
df.loc[df['Temp.'].isna(),'Temp.']=df['TEMP']

# una vez hecha la actualización eliminar la columna que sobra
df = df.drop('TEMP', axis=1)

print('Valores nulos:')
df.isnull().sum()

Valores nulos:

idEstacion    0
FECHA         0
Temp.         0
dtype: int64

In [8]:
df

    idEstacion       FECHA  Temp.
0     46250080  01/05/2022   16.0
1     46250080  02/05/2022   24.0
2     46250080  03/05/2022   27.0
3     46250080  04/05/2022   20.0
4     46250080  05/05/2022   25.0
..         ...         ...    ...
57    46250080  27/05/2022   22.0
58    46250080  28/05/2022   30.0
59    46250080  29/05/2022   24.0
60    46250080  30/05/2022   29.0
61    46250080  31/05/2022   25.0

[62 rows x 3 columns]