## Creamos un DataFrame CON PANDAS a partir de fichero .txt ##

In [13]:
import pandas as pd

In [14]:
#dftxt = pd.read_table("datos/AvFrancia_Diarios/2010_46250047_AvFrancia_Dia/2010_46250047_AvFrancia_Dia_v2.txt", header=None, sep="	")
dftxt = pd.read_table("datos/202201 _ 202202 _ 202203_AvFrancia_DIARIO.txt")

In [15]:
print(dftxt)

    FECHA_HORA  PM2.5  SO2   CO  NO  NO2  PM10  NOx  O3 Veloc.  Direc.
0   01/01/2022     43    3  0,1   9   17    51   30  31    0,4     175
1   02/01/2022     38    3  0,1  13   19    47   38  23    0,4      27
2   03/01/2022     45    3  0,1  23   24    58   60  25    0,6     332
3   04/01/2022      8    3  0,1   2   13    33   16  43    1,6     241
4   05/01/2022      4    4  0,1   2   11    23   14  51    1,2     328
..         ...    ...  ...  ...  ..  ...   ...  ...  ..    ...     ...
85  27/03/2022     16    4  0,1   2    5    46    7  91      2      37
86  28/03/2022     19    4  0,1   5   13    40   20  70    NaN      40
87  29/03/2022     22    4  0,1   6   13    42   22  64    2,6      20
88  30/03/2022     18    4  0,1   2   13    44   16  59    NaN     214
89  31/03/2022      5    4  0,1   2    9    13   12  60    1,1     294

[90 rows x 11 columns]

In [16]:
dftxt

    FECHA_HORA  PM2.5  SO2   CO  NO  NO2  PM10  NOx  O3 Veloc.  Direc.
0   01/01/2022     43    3  0,1   9   17    51   30  31    0,4     175
1   02/01/2022     38    3  0,1  13   19    47   38  23    0,4      27
2   03/01/2022     45    3  0,1  23   24    58   60  25    0,6     332
3   04/01/2022      8    3  0,1   2   13    33   16  43    1,6     241
4   05/01/2022      4    4  0,1   2   11    23   14  51    1,2     328
..         ...    ...  ...  ...  ..  ...   ...  ...  ..    ...     ...
85  27/03/2022     16    4  0,1   2    5    46    7  91      2      37
86  28/03/2022     19    4  0,1   5   13    40   20  70    NaN      40
87  29/03/2022     22    4  0,1   6   13    42   22  64    2,6      20
88  30/03/2022     18    4  0,1   2   13    44   16  59    NaN     214
89  31/03/2022      5    4  0,1   2    9    13   12  60    1,1     294

[90 rows x 11 columns]

In [17]:
#Mostrar numero de elementos
dftxt.count()

FECHA_HORA    90
PM2.5         90
SO2           90
CO            52
NO            90
NO2           90
PM10          90
NOx           90
O3            90
Veloc.        88
Direc.        90
dtype: int64

In [18]:
#head -->  quivalente a take - recupera los primeros elementos
dftxt.head()

   FECHA_HORA  PM2.5  SO2   CO  NO  NO2  PM10  NOx  O3 Veloc.  Direc.
0  01/01/2022     43    3  0,1   9   17    51   30  31    0,4     175
1  02/01/2022     38    3  0,1  13   19    47   38  23    0,4      27
2  03/01/2022     45    3  0,1  23   24    58   60  25    0,6     332
3  04/01/2022      8    3  0,1   2   13    33   16  43    1,6     241
4  05/01/2022      4    4  0,1   2   11    23   14  51    1,2     328

In [19]:
#mostramos las columnas de un dataframe
dftxt.columns

Index(['FECHA_HORA', 'PM2.5', 'SO2', 'CO', 'NO', 'NO2', 'PM10', 'NOx', 'O3',
       'Veloc.', 'Direc.'],
      dtype='object')

In [21]:
#describe nos devuelve un resumen estadístico de los datos
dftxt.describe()

,PM2.5,SO2,NO,NO2,PM10,NOx,O3,Direc.
count,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000
mean,15.633333,3.500000,5.400000,16.544444,31.122222,24.455556,44.144444,150.088889
std,8.723531,0.622608,4.780109,8.242342,13.589345,14.675640,16.658878,111.081370
min,4.000000,3.000000,2.000000,2.000000,10.000000,4.000000,18.000000,1.000000
25%,9.250000,3.000000,2.000000,11.000000,20.000000,14.000000,32.250000,45.000000
50%,15.000000,3.000000,3.500000,16.500000,29.000000,21.000000,41.000000,119.000000
75%,19.000000,4.000000,7.000000,23.000000,41.500000,33.000000,51.000000,252.000000
max,45.000000,5.000000,23.000000,32.000000,62.000000,65.000000,97.000000,347.000000